*{
    /* padding: 0px; */
    margin: 0px;
}
div {
    background-color: black;
    height: 40px;
}

a {
    /* padding-top: 50px; */
    border: 0;
    margin: 0;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 200px;
}

button {
    background-color: orange;
    color: white;
}